{% layout "layout.liquid" %}
{% block content %}
<div class="flex flex-col items-center gap-4">
    <div class="card w-full mx-8 md:mx-0 md:w-1/3 bg-base-200 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">Status</h2>
            <p>
                <b>Polling Interval:</b> {{ pollingInterval }}s
            </p>
            <p>
                {% if hasBlueskyToken %}
                You are currently authenticated to Bluesky as <span class="font-bold">{{ blueskyHandle }}</span>.
                {% else %}
                You are currently not authenticated to Bluesky, please enter your credentials below.
                {% endif %}
            </p>
            <p>
                <b>
                    Repost visibility control WIP - Skymoth will only repost public Toots that are not a reply.
                    With the exception of direct unlisted replies, which will counted as a thread.
                </b>
            </p>
        </div>
    </div>
    <div class="card w-full mx-8 md:mx-0 md:w-1/3 bg-base-200 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">Bluesky Credentials {% if blueskyHandle and hasBlueskyToken %}
                <div class="badge badge-success gap-2">valid</div>
                {% else %}
                <div class="badge badge-error gap-2">invalid</div>
                {% endif %}
            </h2>
            <p>
                To get started, you'll need to enter your Bluesky handle and token. You can find these by going to your
                settings and create an <a href="https://bsky.app/settings/app-passwords" target="_blank" rel="noopener noreferrer"
                    class="text-secondary underline" >app password</a>.
            </p>
            <form action="/" method="post">
                <div class="form-control w-full">
                    <label for="pollingInterval" class="label">
                        <span class="label-text">Bluesky PDS</span>
                    </label>
                    <input value="{{ blueskyPDS }}" placeholder="https://bsky.social" type="text" name="blueskyPDS"
                        id="blueskyPDS" required class="input input-bordered w-full" />
                </div>
                <div class="form-control w-full">
                    <label for="blueskyHandle" class="label">
                        <span class="label-text">Bluesky Handle</span>
                    </label>
                    <input value="{{ blueskyHandle }}" placeholder="user.example" type="text" name="blueskyHandle"
                        id="blueskyHandle" required class="input input-bordered w-full" />
                </div>
                <div class="form-control w-full">
                    <label for="blueskyToken" class="label">
                        <span class="label-text">Bluesky App Password</span>
                    </label>
                    <input type="password" placeholder="***********" type="text"
                        name="blueskyToken" id="blueskyToken" required class="input input-bordered w-full" />
                </div>
                <div class="card-actions justify-end mt-4">
                    <input class="btn btn-outline btn-success" type="submit" value="Update!" />
                </div>
            </form>
        </div>
    </div>
    <div class="card w-full mx-8 md:mx-0 md:w-1/3 bg-base-200 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">Account Actions</h2>
            <div class="card-actions justify-end">
                <a class="btn btn-secondary btn-outline" href="/account/downloadData">Download Data</a>
                <a class="btn btn-warning btn-outline" href="/logout">Logout</a>
            </div>
            <p>
                Please be aware that due to security implications, the download will not include any authentication tokens
            </p>
            <h2 class="font-bold">Delete your account</h2>
            <p>
                If you want to delete your account, you can do so
                <button class="text-error underline" onclick="delete_modal.showModal()">here</button>.
            </p>
        </div>
    </div>
    <dialog id="delete_modal" class="modal">
        <div class="modal-box">
            <h3 class="font-bold text-lg">Are you sure you want to delete your account?</h3>
            <p class="py-4">All your configuration will be lost</p>
            <div class="modal-action">
                <form method="dialog">
                    <button class="btn btn-secondary">No</button>
                </form>
                <form action="/account/delete" method="post">
                    <button class="btn">Yes</button>
                </form>
            </div>
        </div>
    </dialog>
</div>
{% endblock %}