@import "tailwindcss";
@plugin '@tailwindcss/typography';
@plugin "daisyui" {
	themes: dark --default;
}
@plugin "daisyui/theme" {
	name: "dark";
	default: true;
	--color-primary: "#6b21ff";
	--color-secondary: "#1cd6ff";
}
